@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(to left, #07335c 0%, #421d86 12%, #5da9ff 47%, #0f0053 100%) left bottom no-repeat;
  background-size: 100% 5px;
  /* if linear-gradient, we need to resize it */
  /*---------------------------- Sous liste -----------------------------*/
}
nav .items {
  display: flex;
  list-style: none;
  height: 100%;
  line-height: 50px;
  font-size: 20px;
}
nav .liste-items {
  cursor: pointer;
  margin: 0 20px;
  padding: 5px;
  flex-shrink: 0;
}
nav .liste-items:hover {
  color: #0362cf;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: #0362cf;
}
nav .liste-items:nth-child(3) {
  margin-left: 0;
  margin-right: 0;
}
nav .liste-items:nth-child(4) {
  margin-left: 0;
  margin-right: 0;
}
nav .liste-items:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}
nav .liste-items:nth-child(1) {
  margin-left: 0;
  margin-right: 0;
}
nav .sous-liste {
  position: relative;
  top: -2px;
  display: none;
}
nav .items-sous-liste {
  list-style-type: none;
  text-align: center;
  font-size: 17px;
  padding: 0 10px;
  background: #5da9ff;
  color: white;
}
nav .items-sous-liste:hover {
  background: #f1f1f1;
  color: black;
}
nav .liste-items:hover > ul {
  display: block;
}

.grille {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 1200px;
  margin: 0 auto;
  grid-gap: 5px;
  margin-top: 100px;
  margin-bottom: 200px;
}
.grille .grille-items {
  margin: 0 auto;
  position: relative;
  width: 800px;
}
.grille .grille-items img {
  margin: 0 auto;
  width: 800px;
  height: auto;
}
.grille .date {
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  bottom: 10px;
  left: 10px;
  border-radius: 5px;
}

.title1, .title2 {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}

.title1 {
  margin-top: 50px;
}

p, a, li {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  width: 1400px;
  background-image: url("../img/tosho/alixtosho4.png");
  background-attachment: fixed;
}

main {
  margin: 0 auto;
  width: 1200px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 6px;
}

.flexbox {
  display: flex;
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexbox img {
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
}
.flexbox .rp {
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    margin: 0 auto;
    grid-gap: 10px;
    margin-bottom: 100px;

    .grid-items{
        width: 603px;
        border: 2px solid black;

        img{
            width: 600px;
        }
    }
}

.rp{
    width: 500px;
    padding-left: 10px;
    padding-bottom: 10px;
}*//*# sourceMappingURL=main.css.map */