@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.title1, .title2{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.title1{
    margin-top: 50px;
}

p, a, li{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0 auto;
    width: 1400px;
    background-image: url('/img/alixtosho4.png');
    background-attachment: fixed;
}

main{
    margin: 0 auto;
    width: 1200px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 6px;
}