*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: /* gradient can be an image */
    linear-gradient(
      to left, 
      rgb(7, 51, 92) 0%,
      rgb(66, 29, 134) 12%,
      rgb(93, 169, 255) 47%,
      rgb(15, 0, 83) 100%
    )
    left 
    bottom
    no-repeat; 
    background-size:100% 5px ;/* if linear-gradient, we need to resize it */

    .items{
        display: flex;
        list-style: none;
        height: 100%;
        line-height: 50px;
        font-size: 20px;
    }

    .liste-items{
        cursor: pointer;
        margin: 0 20px;
        padding: 5px;
        flex-shrink: 0;
    }

    .liste-items:hover{
        color: rgb(3, 98, 207);
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: rgb(3, 98, 207);
    }
    
    .liste-items:nth-child(3){
        margin-left: 0;
        margin-right: 0;
    }

    .liste-items:nth-child(4){
        margin-left: 0;
        margin-right: 0;
    }

    .liste-items:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }

    /*---------------------------- Sous liste -----------------------------*/

    .sous-liste{
        position: relative;
        top: -2px;
        display: none;
    }

    .items-sous-liste{
        list-style-type: none;
        text-align: center;
        font-size: 17px;
        padding: 0 10px;
        background: rgb(93, 169, 255);;
        color: white;
    }

    .items-sous-liste:hover{
        background: #f1f1f1;
        color: black;
    }

    .liste-items:hover > ul{
        display: block;
    }
}